# This will automatically install the Sumo Logic collector on AWS Elastic
# Beanstalk instances. Add this to the .ebextensions folder in your app root
# To add or remove tracked files, simply add or remove source hashes to the
# sources array.
packages:
  rpm:
    SumoCollector: https://collectors.sumologic.com/rest/download/rpm/64

services:
  sysvinit:
    collector:
      enabled: true
      ensureRunning: true

files:
  "/home/ec2-user/setup-sumo.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      cat >/opt/SumoCollector/config/user.properties <<EOL
      name=$SUMOLOGIC_NAME
      accessid=$SUMOLOGIC_ACCESS_ID
      accesskey=$SUMOLOGIC_ACCESS_KEY
      category=$SUMOLOGIC_SOURCE_CATEGORY
      syncSources=/opt/SumoCollector/config/sumo_sources.json
      sources=/opt/SumoCollector/config/sumo_sources.json
      EOL

  "/opt/SumoCollector/config/sumo_sources.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      {
        "api.version": "v1",
        "sources": [
          {
            "name":"nginx-test",
            "category":"nginx/test",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":true,
            "useAutolineMatching":true,
            "forceTimeZone":false,
            "filters":[],
            "cutoffTimestamp":0,
            "encoding":"UTF-8",
            "pathExpression":"/var/log/nginx/*.log",
            "blacklist":[],
            "sourceType":"LocalFile"
          },
          {
            "name":"nodejs-test",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":true,
            "useAutolineMatching":true,
            "forceTimeZone":false,
            "filters":[],
            "cutoffTimestamp":1533186000000,
            "encoding":"UTF-8",
            "pathExpression":"/var/log/nodejs/*.log",
            "blacklist":[],
            "sourceType":"LocalFile"
          },
          {
            "name":"healthd-test",
            "automaticDateParsing":true,
            "multilineProcessingEnabled":true,
            "useAutolineMatching":true,
            "forceTimeZone":false,
            "filters":[],
            "cutoffTimestamp":1533186000000,
            "encoding":"UTF-8",
            "pathExpression":"/var/log/healthd/*.log",
            "blacklist":[],
            "sourceType":"LocalFile"
          }
        ]
      }

  "/opt/elasticbeanstalk/tasks/taillogs.d/sumo-logic.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /opt/SumoCollector/logs/*

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/sumo-logic.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /opt/SumoCollector/logs/*

  "/opt/elasticbeanstalk/tasks/publishlogs.d/sumo-logic.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /opt/SumoCollector/logs/*

container_commands:
  setup_sumo:
    command: |
      /home/ec2-user/setup-sumo.sh
      sudo service collector restart